@import url('https://fonts.googleapis.com/css2?family=Brush+Script+MT&family=Dancing+Script&display=swap');
@import "tailwindcss";


:root  {
    
    --font-artistic : 'Dancing Script', cursive;
    --font-brush: 'Brush Script MT', cursive;
}

body {
    font-family: var(--font-sans);
}
